*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 100px;
    height: 200px;
    width: 100%;
    font-family: sans-serif;
}

.watch{
    width: 100%;
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
}

#Lap{
    cursor: pointer;
}

#Reset{
    cursor: pointer;
}

#PlayPause{
    cursor: pointer;
}

.records{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

h3{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}